[Unit]
Description=Bluetooth OBEX service

[Service]
Type=dbus
BusName=org.bluez.obex
ExecStart=/home/lzs243/Documents/ProtocolFuzz/Benchmark/bluez-5.48/installed/libexec/bluetooth/obexd

[Install]
Alias=dbus-org.bluez.obex.service
